.cxx
.DS_Store
.externalNativeBuild
.gradle
.idea
.kotlin
*.iml
*.xcodeproj/*
**/build/
**/xcshareddata/WorkspaceSettings.xcsettings
!src/**/build/
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
captures
composeApp/cmake
composeApp/libs
gradle/wrapper/gradle-wrapper.jar
local.properties
xcuserdata
